* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(183, 231, 215);
}

.header {
    display: flex;
    justify-content: center;

}

.cabecalho {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    border-radius: 10px;


    width: 1300px;
    height: 50px;
    background-color: rgb(96, 177, 123);
}


.logo-livro {
    display: flex;
    justify-items: left;
    border: 10px;
    height: 50px;
}

.logo-livro img {
    border-radius: 10px;
    height: 50px;
}

ul {
    display: flex;
    align-items: center;
}

li {
    display: flex;
    margin-left: 10px;

    width: 40px;
    margin: 30px;

    list-style-type: none;
}

.categoriasDeGeneros,
.momentosHistoricos {
    color: rgb(234, 247, 239);
    font-size: 20px;
}

input[type="text"] {
    margin: 2px 1px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Loto', sans-serif;
    border: 1px solid white;
    border-radius: 10px;
}

.primeira-section {
    position: relative;
    flex-wrap: wrap;
}

.frase-debaixo-do-logo-do-livro {
    position: absolute;
    background-color: aliceblue;
    width: 320px;
    top: 359px;

    margin: 15px 9px;
}

.frase-maximo-gorky {
    font-size: 20px;
}


.imagem-do-fundo img {
    width: 1309px;
    align-self: center;
    padding: 8px 2px;
    margin: 5px;
    position: static;

    height: 450px;
}

a {
    text-decoration: none;
}

/* .caixa-de-introducao {
    display: flex;
    flex-wrap: wrap;

    width: 400px;
    height: 400px;
    margin: 15px 15px;
    padding: 10px 10px;

}

.caixa-de-introducao span {
    color: rgb(31, 62, 90);
    margin: 5px 5px;
    font-family: 'Loto', sans-serif;
    font-size: 25px;

}

.primeiro-paragrafo-da-caixa {
    color: rgb(16, 42, 65);
    font-family: 'Loto', sans-serif;
    width: 400px;
    height: 400px;
    margin: 1px -5px;
    padding: 7px 10px;
    font-size: 24px;
} */


footer {
    display: flex;
    width: 100%;
    bottom: 0px;
    position: static;

    align-self: center;
}

.rodape {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 auto;
    width: 1300px;
    height: 140px;

    background-color: rgb(96, 177, 123);
}

.icone {
    display: flex;
    justify-content: right;

    letter-spacing: 10px;
}

.icone img {
    width: 35px;
    padding: 5px;
    margin: 2px;
}

.facebook,
.github,
.discord,
.linkedin {
    font-size: 10px;
}

.sobre-mim-div {
    padding: 10px;
}

.sobre-mim {
    color: rgb(234, 247, 239);
    font-size: 25px;
}